.buttons > button {
    background-image: url("cat.png");
}

.maw {
    transition: all .6s ease-in-out;
    position: fixed;
    width: 10%;
    opacity: 0.7;
    height: auto;
}

head {
    color: black;
    font-size: 20px;
    text-align: left;
}
html {
    color: #555555;
    background-color: pink;
}
